<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_ISampleWebService" />
                <binding name="SampleWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60853/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:56291/SampleWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISampleWebService"
                contract="ServiceReference_wcfServiceHost.ISampleWebService"
                name="BasicHttpBinding_ISampleWebService" />
            <endpoint address="http://localhost:3114/SampleWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SampleWebServiceSoap"
                contract="ServiceReference_webservice.SampleWebServiceSoap"
                name="SampleWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>